@media screen and (min-width: 319px) and (max-width: 1199px) {
    body {
        background: #070402;
    }
    .land {
        opacity: 0;
        transform: translateY(30%);
    }
    .land.element-show {
        opacity: 1;
        transition: all 1s;
        transform: translateY(0%);
    }
    /* Верх сайта: хэдер, картинки и текст */
    .land.top {
        background: url(../imgland/lake\ 1.jpg);
        background-position: center;
        background-size: 400%;
        background-repeat: no-repeat;
        height: 80vh;
    }
    .logoland {
        padding-top: 8px;
        width: 20%;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        width: 100%;
    }
    p {
        font-size: 70%;
        width: 80%;
        color: #FFF6EE;
        font-weight: lighter;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 20px 0px;
        /*margin-left: 20px;*/
        /*align-self: flex-end;*/
    }
    .socsi {
        padding: 10px 15px;
        background-color: #8F755C;
        color: #FFF6EE;
        border-radius: 10px;
        font-size: 75%;
        border: 0;
        cursor: pointer;
        font-weight: lighter;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .socsi:hover {
        background-color: #35271B;
        transition: ease, 0.3s all;
    }
    .titlerun {
        width: 59%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30%;
        margin-bottom: 30%;
        flex-shrink: 0;
    }
    .imgpbl {
        display: flex;
        flex-direction: column;
        align-items: center;
        /*text-align: center;*/
        /*max-width: 1920px;*/
    }
    h1 {
        /*font-size: 150%;
        text-align: right;
        width: 70%;
        color: #FFF6EE;
        font-weight: 100;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 10px;*/
        width: 175px;
        /*height: 75px;*/
        color: #FFF;
        /*text-align: right;*/
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 200;
        /*line-height: normal;*/
        /*margin-left: 45%;*/
        text-align: right;
    }
    h2 {
        font-size: 80%;
        /*width: 100%;*/
        margin-bottom: 50px;
        color: #FFF6EE;
        font-weight: lighter;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    /* Середина сайта: про книгу, аннотация, трейлер (видео будет потом), иллюстрации(потом) и переход на соц.сеть(форум)(!в работе!)*/
    .land.main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 7%;
    }
    header {
        font-size: 150%;
        color: #FFF6EE;
        font-weight: lighter;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .fling {
        font-size: 140%;
        width: 100%;
        color: #FFF6EE;
        font-weight: lighter;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .abbook {
        padding: 24px 24px;
        padding-bottom: 100px;
        margin-top: 7%;
        display: flex;
        flex-direction: column;
    }
    .abbook-left {
        text-align: left;
        align-items: start;
    }
    .abbook-right {
        text-align: right;
        align-items: end;
    }
    h6 {
        font-size: 100%;
        /*margin-left: 24px;*/
        align-self: flex-start;
        color: #FFF6EE;
        font-weight: lighter;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        /*margin-bottom: 20%;*/
    }
    /*блок с текстом-картинкой(анотация)*/
    .txtabt {
        width: 75%;
        color: #FFF6EE;
        font-weight: lighter;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 20px 0;
        margin-left: 20px;
        text-align: right;
        align-self: flex-end;
    }
    .bookname {
        margin: 0 auto;
        width: 298px;
    }
    /*блок с иллюстрациями*/
    /*выплывание картинок по одной; при прокрутке галереи тосировка их вверх-вниз в шахматном порядке*/
    /*блок с трейлером (будет добавлен когда закончу анимацию)*/
    /*блок с поп ап формой*/
    /*хочу добавить при нажатии pop up форму с возможностью заказа*/
    .order {
        /*width: 40%;*/
        width: 30vw;
        margin: 0 50px;
        transition: transform .4s;
    }
    .order:hover {
        transform: scale(1.2);
    }
    /* Низ сайта: контакты и соц сети */
    .land.bottom {
        margin-top: 10%;
        background-color: #181413;
    }
    .tklein {
        font-size: 70%;
        color: #FFF6EE;
        font-weight: lighter;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .tkleinb {
        font-size: 70%;
        color: #FFF6EE;
        font-weight: lighter;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 24px;
    }
    .texttitle {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-right: 40px;
    }
    .tcontacts {
        font-size: 40%;
        color: #FFF6EE;
        font-weight: lighter;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .name {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5%;
        margin-top: 2px;
    }
    .tcontacts.soc {
        display: none;
    }
    .link.site {
        display: none;
    }
    .link {
        text-decoration: solid;
        color: #FFF6EE;
        font-size: 40%;
        font-weight: lighter;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .emndph {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .phone {
        align-self: center;
        padding: 0 10px;
    }
    .inst {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .instagram {
        align-self: center;
        padding: 0 10px;
    }
    .telgr {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .telegram {
        align-self: center;
        padding-left: 10px;
    }
    .rgttopedgtxt {
        background-image: url("../imgland/drud.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
    }
    .anot-description {
        display: flex;
        justify-content: right;
        text-align: right;
        padding-right: 20px;
    }
    .ordb {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
    .ordb-left {
        align-self: flex-start;
        padding-top: 50px;
    }
    .ordb-right {
        align-self: flex-end;
        padding-bottom: 50px;
    }
    .imggal {
        display: flex;
        flex-direction: column;
        width: 100%;
        /*padding: 120px 0;*/
    }
    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35%;
    }
    .arrowl {
        padding: 0 180px;
        transition: transform .4s;
        display: none;
    }
    .arrowl:hover {
        transform: scale(1.1);
    }
    .arrowr {
        padding: 0 180px;
        transform: rotate(180deg);
        transition: transform .4s;
        display: none;
    }
    .arrowr:hover {
        transform: scale(1.1) rotate(180deg);
    }

    .illgal {
        text-align: center;
    }

    .imagegal {
        display: grid;
        width: 90%;
        margin: auto;
        grid-template-columns: 1fr 1fr;
        /*padding: 0 120px;*/
        margin-bottom: 200px;
        margin-top: 30px;
        gap: 15px;
    }

    .imagegal>div>img {
        width: 40vw;
        margin-left: -4px;
    }

    .imagegal>div>img:nth-child(even) {
        /* grid-column: span 2; */
        margin-top: -165px;
        transform: translate(30px, 0);
    }
    /*выплывание картинок по одной; при прокрутке галереи тосировка их вверх-вниз в шахматном порядке*/
    .kel {
        top: 20%;
        left: 51%;
        width: 21%;
        padding: 0 20px;
        z-index: 4;
    }
    .kelsh {
        top: 23%;
        left: 55%;
        width: 21%;
        padding: 0 20px;
        opacity: 24%;
        z-index: 3;
    }
    .bog {
        top: 40%;
        left: 30%;
        width: 21%;
        padding: 0 20px;
        z-index: 4;
    }
    .bogsh {
        top: 43%;
        left: 40%;
        width: 21%;
        padding: 0 20px;
        opacity: 24%;
        z-index: 3;
    }
    .sid {
        left: 7%;
        top: 30%;
        padding: 0 20px;
        width: 21%;
        z-index: 2;
    }
    .sidsh {
        left: 16%;
        top: 33%;
        padding: 0 20px;
        width: 21%;
        opacity: 24%;
        z-index: 1;
    }
    .bea {
        right: 7%;
        top: 38%;
        padding: 0 20px;
        width: 21%;
        z-index: 2;
    }
    .beash {
        right: 11%;
        top: 40%;
        padding: 0 20px;
        width: 21%;
        opacity: 24%;
        z-index: 1;
    }
    .emndph {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .phone {
        display: flex;
    }
    .inst {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .instagram {
        display: flex;
    }
    .telgr {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .telegram {
        display: flex;
    }
    .name {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .telgr .tg,
    .inst .inst,
    .footerPhone {
        display: block;
        width: 24px;
        height: 24px;
        background-image: url('../imgland/telegram.png');
        background-position: center;
        background-size: 24px;
        background-repeat: no-repeat;
    }

    .inst .inst {
        background-image: url('../imgland/inst.png');
    }

    .footerPhone {
        background-image: url('../imgland/phone.png');
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }

    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85vw;
        /* height: 70vh; */
        background: #181413;
        z-index: 3;
        border-radius: 15px;
        padding: 45px 40px 25px 40px;
    }
    
    .popup-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .popup-content > h3 {
        color: #FFF;
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
        font-size: 30px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
    }

    .popup-content > input, 
    .popup-content > select {
        display: block;
        border-radius: 20px;
        color: #8F755C;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
        font-size: 26px;
        font-style: normal;
        font-weight: 300;
        background-color: #DDD4CC;
        box-sizing: border-box;
        padding: 14px 10px;
    }

    .popup-content > input::placeholder {
        color: #8F755C;
    }

    .popup-content > div {
        display: flex;
        justify-content: space-between;
    }

    .popup-content > div > img {
        cursor: pointer;
    }

    #popup-shit {
        display: none;
    }

    #popup-shit > h3 {
        color: #FFF;
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 34px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
        margin-bottom: 30px;
    }

    #popup-shit > h3:last-of-type {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #popup-shit > img {
        width: 90%;
        display: block;
        margin: auto;
    }
    
    .order {
        cursor: pointer;
    }
}